<div class="notification notification--{{ data.type }}" [@slideIn] [@fadeOut]>
    <div class="notification-icon">
        <ng-container *ngIf="data.type === 'success'">
            <app-custom-svg name="check-circle" [size]="24"></app-custom-svg>
        </ng-container>
        <ng-container *ngIf="data.type === 'error'">
            <app-custom-svg name="x-circle" [size]="24"></app-custom-svg>
        </ng-container>
        <ng-container *ngIf="data.type === 'warning'">
            <app-custom-svg name="alert-triangle" [size]="24"></app-custom-svg>
        </ng-container>
        <ng-container *ngIf="data.type === 'info'">
            <app-custom-svg name="info" [size]="24"></app-custom-svg>
        </ng-container>
    </div>

    <div class="notification-content">
        <div class="notification-title">{{ data.title || "Уведомление" }}</div>
        <div class="notification-message">
            <ng-container *ngIf="data.template; else textContent">
                <ng-template [ngTemplateOutlet]="data.template"></ng-template>
            </ng-container>
            <ng-template #textContent>
                {{ data.message }}
            </ng-template>
        </div>
    </div>

    <button class="close-btn" (click)="close()">
        <app-custom-svg name="close" [size]="16"></app-custom-svg>
    </button>
</div>
