<div class="notification notification--{{ data.type }}" [@slideIn] [@fadeOut]>
    <div class="notification-icon">
        @if (data.type === 'success') {
            <app-custom-svg name="check-circle" [size]="24"></app-custom-svg>
        }
        @if (data.type === 'error') {
            <app-custom-svg name="x-circle" [size]="24"></app-custom-svg>
        }
        @if (data.type === 'warning') {
            <app-custom-svg name="alert-triangle" [size]="24"></app-custom-svg>
        }
        @if (data.type === 'info') {
            <app-custom-svg name="info" [size]="24"></app-custom-svg>
        }
    </div>

    <div class="notification-content">
        <div class="notification-title">{{ data.title || "Уведомление" }}</div>
        <div class="notification-message">
            @if (data.template) {
                <ng-template [ngTemplateOutlet]="data.template"></ng-template>
            } @else {
                {{ data.message }}
            }
        </div>
    </div>

    <button class="close-btn" (click)="close()">
        <app-custom-svg name="close" [size]="16"></app-custom-svg>
    </button>
</div>
