<ng-container *ngIf="entries$ | async as entries">
    <div *ngFor="let entry of entries" class="entry-block">
        <div class="toolbar">
            <div class="icon" (click)="clickDelete(entry)">

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7h6m2 0H7m4-3h2a1 1 0 011 1v1H8V5a1 1 0 011-1z"
                    />
                </svg>
            </div>
        </div>
        <textarea [(ngModel)]="entry.memory" class="entry-text"></textarea>
    </div>
    <div class="modal-footer">
        <div>
            <button class="accent-btn" (click)="save()">Сохранить</button>
            <button class="accent-btn" (click)="save()">
                Добавить воспоминание
            </button>
        </div>

        <!-- <button class="close-btn" (click)="modalRef.closeModal()">
            ❌ Закрыть
        </button> -->
    </div>
</ng-container>
