<div class="modal-backdrop" (click)="onBackdropClick()"></div>
<div class="modal-content" [attr.appearance]="appearance" (click)="$event.stopPropagation()">
    <div class="modal-header">
        <span class="modal-title">{{ title }}</span>
        <button class="close-button" (click)="modalRef.closeModal()">
            <app-custom-svg name="close" [size]="20"></app-custom-svg>
        </button>
    </div>
    <div class="modal-body">
        <ng-template #dynamicComponent></ng-template>
    </div>
</div>
