<div class="ui-input-wrap" [class.ui-input-wrap--number]="type === 'number'">
    <input
        class="ui-input"
        [class.ui-input--number]="type === 'number'"
        [attr.type]="type"
        [attr.placeholder]="placeholder || null"
        [attr.min]="min"
        [attr.max]="max"
        [attr.step]="step"
        [disabled]="disabled"
        [readonly]="isReadonly"
        [value]="value ?? ''"
        (input)="onInputEvent($event)"
        (blur)="markTouched()"
    />

    <div class="ui-number-stepper" *ngIf="type === 'number' && !isReadonly && !disabled">
        <button
            type="button"
            class="ui-number-stepper__btn"
            [disabled]="disabled || isReadonly"
            (click)="increment($event)"
            aria-label="Increase value"
        >
            <span class="ui-number-stepper__chevron ui-number-stepper__chevron--up"></span>
        </button>
        <button
            type="button"
            class="ui-number-stepper__btn"
            [disabled]="disabled || isReadonly"
            (click)="decrement($event)"
            aria-label="Decrease value"
        >
            <span class="ui-number-stepper__chevron ui-number-stepper__chevron--down"></span>
        </button>
    </div>
</div>
